header {
    background: var(--header-bg-color);
    padding: 15px 30px;
}

header nav {
    justify-content: space-between;
}

header nav .logo {
    font-size: 20px;
}

header nav ul {
    font-size: 16px;
    gap: 120px;
}

header nav ul li:last-child input[type="search"] {
    padding: 5px 15px;
    background: var(--body-bg-color);
    width: 150px;
}

header nav ul li:last-child input[type="search"]::placeholder {
    opacity: 0.3;
}

header nav ul li:last-child input[type="search"]:focus {
    width: 300px;
}

header nav ul li:last-child button[type="submit"] {
    padding: 5px 10px;
    cursor: pointer;
}

header nav ul li:last-child button[type="submit"]:hover {
    background: var(--body-bg-color);
}

header nav ul li:last-child input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    border-radius: 50em;
    background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg)
        no-repeat 50% 50%;
    background-color: var(--text-color);
    background-size: contain;
    opacity: 0;
    pointer-events: none;
}

header
    nav
    ul
    li:last-child
    input[type="search"]:focus::-webkit-search-cancel-button {
    opacity: 0.3;
    pointer-events: all;
    cursor: pointer;
}
