:root {
    --body-bg-color: #0f0f0f;
    --header-bg-color: #1f1f1f;
    --post-bg-color: #161616;
    --text-color: #fff;
    --border-color: #333;
}

body {
    font-family: "Inter", sans-serif;
    background: var(--body-bg-color);
    color: var(--text-color);
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
    align-items: center;
}

.border-2 {
    border: 2px solid var(--border-color);
    border-radius: 5px;
}

/* Markdown */

.md {
    overflow-wrap: break-word;
}

.md h1 {
    font-size: 22px;
}
.md h2 {
    font-size: 20px;
}
.md h3 {
    font-size: 18px;
}
.md h4 {
    font-size: 16px;
}
.md h5 {
    font-size: 14px;
}
.md h6 {
    font-size: 12px;
}

.md p {
    font-size: 15px;
    opacity: 0.9;
}

.md blockquote {
    padding: 10px;
    background: #161616;
    margin: 4px 0 4px 5px;
    border-left: 4px solid #333;
}

.md a,
.md a * {
    color: aqua;
}

.md .md-spoiler-text {
    background: #333;
    color: transparent;
}

.md .md-spoiler-text:hover {
    color: white;
    background: #222;
}

.md li {
    margin: 5px 0;
}

.md pre {
    padding: 20px;
    overflow: auto;
    margin-top: 10px;
    border-radius: 5px;
    background: #1f1f1f;
}

.md table {
    margin: 5px;
    overflow-x: auto;
}

.md code {
    font-size: 14px;
    font-family: monospace, sans-serif;
}

.md hr {
    border: 0px;
    height: 1px;
    margin: 8px 0px;
    border-top: 1px solid #333;
}

.md code:not(.md pre > code) {
    background: #333;
}

/* Bootstrap */
.d-flex {
    display: flex !important;
}
.justify-content-center {
    justify-content: center !important;
}
.spinner-border {
    display: inline-block;
    width: var(--bs-spinner-width);
    height: var(--bs-spinner-height);
    vertical-align: var(--bs-spinner-vertical-align);
    border-radius: 50%;
    -webkit-animation: var(--bs-spinner-animation-speed) linear infinite
        var(--bs-spinner-animation-name);
    animation: var(--bs-spinner-animation-speed) linear infinite
        var(--bs-spinner-animation-name);
}

@-webkit-keyframes spinner-border {
    to {
        transform: rotate(360deg) /* rtl:ignore */;
    }
}

@keyframes spinner-border {
    to {
        transform: rotate(360deg) /* rtl:ignore */;
    }
}
.spinner-border {
    --bs-spinner-width: 2rem;
    --bs-spinner-height: 2rem;
    --bs-spinner-vertical-align: -0.125em;
    --bs-spinner-border-width: 0.25em;
    --bs-spinner-animation-speed: 0.75s;
    --bs-spinner-animation-name: spinner-border;
    border: var(--bs-spinner-border-width) solid currentcolor;
    border-right-color: transparent;
}
