<header>
    <nav class="d-flex">
        <div class="logo">
            <a href="{{ url_for('index') }}">floodarchive</a>
        </div>
        <ul class="d-flex">
            <li><a href="{{ url_for('about') }}">about</a></li>
            <li>
                <form action="/search" method="GET" id="searchForm">
                    <input
                        type="search"
                        name="q"
                        class="border-2"
                        placeholder="Search..."
                        minlength="3"
                        required
                    />
                    <button type="submit" class="border-2">Search</button>
                </form>
            </li>
        </ul>
    </nav>
</header>
