<!DOCTYPE html>
<html lang="tr">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>°º¤ø,¸¸,ø¤º°`°º¤ø,¸,ø¤°º¤ø,¸¸,ø¤º°`°º¤ø,¸</title>
        {% include 'includes/styles.html' %}
    </head>
    <body>
        {% include 'includes/header.html' %}
        <main>
            <div class="container">
                <div class="title border-2">
                    <div>
                        <b>Loaded floods:</b>
                        <span id="loaded">0</span>/{{ total_floods }}
                    </div>
                    <div><b>Last build date:</b> {{ last_build_date }}</div>
                </div>
                <div id="scroller">
                    <template id="post_template">
                        <div class="post border-2">
                            <div class="header">
                                <span class="link">
                                    <a href="#" rel="nofollow" id="full_link"
                                        ><b>reddit</b></a
                                    >
                                </span>
                                <span class="created" id="created">NULL</span>
                            </div>
                            <div class="body">
                                <div class="topic">
                                    <h1 id="title">NULL</h1>
                                </div>
                                <div class="message md" id="selftext">NULL</div>
                            </div>
                        </div>
                    </template>
                </div>
                <br />
                <div class="d-flex justify-content-center mt-3" id="sentinel">
                    <div class="spinner-border" role="status"></div>
                </div>
            </div>
        </main>
        {% include 'includes/scripts.html' %}
    </body>
</html>
