<!DOCTYPE html>
<html lang="tr">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>°º¤ø,¸¸,ø¤º°`°º¤ø,¸,ø¤°º¤ø,¸¸,ø¤º°`°º¤ø,¸</title>
        {% include 'includes/styles.html' %}
    </head>
    <body>
        {% include 'includes/header.html' %}
        <main>
            <div class="container">
                <div class="title border-2">
                    <div><b>Total flood:</b> 1121</div>
                    <div><b>Last build date:</b> Sat Aug 27 01:59:07 2022</div>
                </div>
                <div class="post border-2">
                    <div class="header">
                        <span class="link">
                            <a href="" rel="nofollow"><b>reddit</b></a>
                        </span>
                        <span class="created">Wed Jan 29 16:09:48 2020</span>
                    </div>
                    <div class="body">
                        <div class="topic"><h1>LOREM IPSUM</h1></div>
                        <div class="message">
                            <p>
                                Lorem ipsum dolor sit amet consectetur,
                                adipisicing elit. Nemo vero aliquam, ullam
                                assumenda in recusandae reiciendis,
                                reprehenderit architecto, est quo delectus
                                voluptate eos tempora debitis excepturi modi?
                                Explicabo, est totam? Lorem ipsum dolor sit amet
                                consectetur, adipisicing elit. Nemo vero
                                aliquam, ullam assumenda in recusandae
                                reiciendis, reprehenderit architecto, est quo
                                delectus voluptate eos tempora debitis excepturi
                                modi? Explicabo, est totam?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
